In [2]:
print(455)

455

In [1]:
fname="Mohammed"
lname="SHOIAB"
print(fname,lname)

Mohammed SHOIAB

In [5]:
lesson_author = "Mark"
guy_who_keeps_saying_his_own_name = "Mark"
x = "Mark"
print(lesson_author)
print(guy_who_keeps_saying_his_own_name)
print(x)

Mark
Mark
Mark

In [6]:
thanx = "Thanks for your input!"
print(thanx)

Thanks for your input!

In [7]:
weight = 150
print(weight+25)

175

In [10]:
original_num = 23
num_to_be_added = 7
new_num = original_num + num_to_be_added
print(new_num)

30

In [11]:
original_num = "23"
new_num = original_num + 7
print(new_num)

TypeError: can only concatenate str (not "int") to str

In [12]:
1st_prime_number = 2
print(1st_prime_number)

SyntaxError: invalid syntax (<ipython-input-12-2cc0d50e8457>, line 1)

In [13]:
num = .075
total = num + 200
print(total)

200.075

In [14]:
age = 12
age += 50
print(age)

62

In [15]:
age=60
age+=40
print(age)

100

In [16]:
age=60
age-=40
print(age)

20

In [17]:
age=60
age*=40
print(age)

2400

In [18]:
total_cost = 1 + 3 * 4
print(total_cost)

13

In [19]:
greeting = "Hello"
addressee = "World"
whole_greeting = greeting + addressee
print(whole_greeting)

HelloWorld

In [24]:
greeting = "Hello"
separators = " , "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee+ punc

print(whole_greeting)
print("Hello" + separators + "World" + punc)

Hello , World!
Hello , World!

In [23]:
print("Hello, " + "World!")

Hello, World!

In [25]:
print("The sum of 2 plus 2 is " + 4)

TypeError: can only concatenate str (not "int") to str

In [26]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

In [29]:
if "cat" == "cat":
 print("Yep, it's cat.")

Yep, it's cat.

In [32]:
if "cat" == "cat":
 "ok" = "ok"
 "animal" = "animal"
 print("Yep, it's cat.")

SyntaxError: can't assign to literal (<ipython-input-32-bbc56f043f5b>, line 2)

In [33]:
if 2 + 2 == 4:
 print("Everything makes sense.")

Everything makes sense.

In [34]:
number_of_husbands=1
if number_of_husbands == 1:
 print("So far so good.")

So far so good.

In [35]:
number_of_husbands=1
if number_of_husbands == 1:
 print("So far so good.")
 print("Congratulations.")
 print("All done")

So far so good.
Congratulations.
All done

In [38]:
print("Mark" + " " + "Myers")

Mark Myers

In [45]:
full_name="Mark,Myers"
if full_name == "Mark" + " " + "Myers":
    print("palistan")

In [46]:
total_cost=81.50+135
if total_cost == 81.50 + 135:
    print(total_cost)

216.5

In [49]:
your_ticket_number=567878
if your_ticket_number != 487208:
 print("Better luck next time.")

Better luck next time.

In [50]:
if 1 > 0: 
    print("SHOAIB")
if 0 < 1:
    print("SHOAIB")
if 1 >= 0:
    print("SHOAIB")
if 1 >= 1:
    print("SHOAIB")
if 0 <= 1:
    print("SHOAIB")
if 1 <= 1:
    print("SHOAIB")

SHOAIB
SHOAIB
SHOAIB
SHOAIB
SHOAIB
SHOAIB

In [51]:
species="cat"
if species == "cat":
 print("Yep, it's cat.")
species="cow"
if species != "cat":
 print("Nope, not cat.")

Yep, it's cat.
Nope, not cat.

In [53]:
#species="cat"
species="cow"
if species == "cat":
 print("Yep, it's cat.")
else:
 print("Nope, not cat.")

Nope, not cat.

In [59]:
donut_condition="fresh"
donut_price="low"
if donut_condition == "fresh":
 buy_score = 10
 print(buy_score)

elif donut_price == "low":
 buy_score = 5
 print(buy_score)
else:
 buy_score = 0
 print(buy_score)

10

In [60]:
donut_condition="fres"
donut_price="low"
if donut_condition == "fresh":
 buy_score = 10
 print(buy_score)

elif donut_price == "low":
 buy_score = 5
 print(buy_score)
else:
 buy_score = 0
 print(buy_score)

5

In [61]:
donut_condition="fresh"
donut_price="lw"
if donut_condition == "fresh":
 buy_score = 10
 print(buy_score)

elif donut_price == "low":
 buy_score = 5
 print(buy_score)
else:
 buy_score = 0
 print(buy_score)

10

In [62]:
donut_condition="fres"
donut_price="lo"
if donut_condition == "fresh":
 buy_score = 10
 print(buy_score)

elif donut_price == "low":
 buy_score = 5
 print(buy_score)
else:
 buy_score = 0
 print(buy_score)

0

In [67]:
buy_score = 0
donut_condition = "fresh"
donut_filling = "chocolate"
donut_price = "reasonable"
if donut_condition == "fresh":
 buy_score += 10
 print(buy_score)
if donut_filling == "chocolate":
 buy_score += 5
 print(buy_score)
if donut_price == "reasonable":
 print(buy_score)

10
15
15

In [68]:
weight=400
time=3
if weight > 300 and time < 6:
 status = "try to recruit him"
 print(status)

try to recruit him

In [73]:
weight=400
time=4
if weight > 300 and time < 6:
 status = "try to recruit him"
 print(status)

try to recruit him

In [79]:
weight=400
time=4
age=16
height=60
if weight > 300 and time < 6 and age > 17 and height < 72:

 status = "try to recruit him"
 print(status)

In [ ]:
weight=400
time=4
age=19
height=60
if weight > 300 and time < 6 and age > 17 and height < 72:

 status = "try to recruit him"
 print(status)

In [77]:
SAT=30
avg=20
GPA=5.8
parent="alum"
if SAT > avg or GPA > 2.5 or parent == "alum":
 message = "Welcome to Leeds College!"
 print(message)

Welcome to Leeds College!

In [78]:
SAT=30
avg=2
GPA=5.8
parent="alum"
if SAT > avg or GPA > 2.5 or parent == "alum":
 message = "Welcome to Leeds College!"
 print(message)

Welcome to Leeds College!

In [82]:
age=80
age=10
res="U.K."
if age > 65 or age < 21 and res == "U.K.":
 print("MY NAME IS SHOAIB KHAN")

MY NAME IS SHOAIB KHAN

In [83]:
age=80
age=10
if (age > 65 or age < 21) and res == "U.K.":
 print("MY NAME IS SHOAIB KHAN")

MY NAME IS SHOAIB KHAN

In [84]:
age=80
age=10
res="U.K."
if age > 65 or (age < 21 and res == "U.K."):
     print("MY NAME IS SHOAIB KHAN")

MY NAME IS SHOAIB KHAN

In [85]:
x=1
y=1
a=2
b=3
c=5
d=5
g=8
h=8
e=6
f=6
if (x == y or a == b) and c == d:
 g = h
 print("SHOAIB")
else:
 e = f
 print("KHAN")

SHOAIB

In [86]:
x=1
y=1
a=2
b=3
c=4
d=5
g=8
h=8
e=6
f=6
if (x == y or a == b) and c == d:
 g = h
 print("SHOAIB")
else:
 e = f
 print("KHAN")

KHAN

In [102]:
c=3
d=3
x=1
y=1
g=2
h=2
a=7
b=7
if c == d:
 if x == y:
  g = h
  print("PAKISTAN")
a=1
b=1
g=2
h=2
 elif a == b:
   g = h
   print("PAKISTAN")
 else:
e=6
f=6
  e = f
  print("PAKISTAN")
else:
e=5
f=5
  e = f
  print("khan")

IndentationError: unexpected indent (<ipython-input-102-929d178898f7>, line 17)

In [115]:
c=1
d=1
x=2
y=2
g=3
h=3
a=5
b=5
e=3
f=3
if c == d:

 if x == y:

  g = h
  print("SHOAIB")
 elif a == b:

  g = h

 else:
  e = f
  print("SHOAIB")

else:

 e = f

SHOAIB

In [117]:
first_name = "Harry"
last_name = "Potter"
interest = "wizardry"
if first_name == "Harry":
 if last_name == "Potter":
  if interest == "wizardry":
   print("Welcome back to Hogwarts, Harry!")

Welcome back to Hogwarts, Harry!

In [119]:
'''
This is a comment.
This is another comment.
******ebook converter DEMO Watermarks*******
Python ignores these comments.
The code that Python executes is on line 7.
'''
print("Hello, world!")

Hello, world!

In [121]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"
print("Welcome to " + city_3)
print("Welcome to " + city_2)
print("Welcome to " + city_1)
print("Welcome to " + city_0)

Welcome to Denver
Welcome to Chicago
Welcome to Baltimore
Welcome to Atlanta

In [124]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
print(cities[0])
print(cities[1])

Atlanta
Baltimore

In [126]:
mixed_things = [1, "Bob", "Now is"]
print(mixed_things[0])
print(mixed_things[1])
print(mixed_things[2])

1
Bob
Now is

In [127]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]
cities.append("New York")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [128]:
scores=[1,2,3,4,5,6,7,8,9,]
scores.append(19)
print(scores)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 19]

In [129]:
myname=["SHOAIb","khan"]
myname=myname+["USMAN","BILA"]
print(myname)

['SHOAIb', 'khan', 'USMAN', 'BILA']

In [136]:
todays_tasks = []
todays_tasks = todays_tasks + ["Walk dog", "Buygroceries"]
print(todays_tasks)

['Walk dog', 'Buygroceries']

In [138]:
cities[0] is "Atlanta"
cities[1] is "Baltimore"
cities[2] is "Chicago"
cities[3] is "Denver"
cities[4] is "Los Angeles"
cities[5] is "Seattle"
cities.insert(0, "New York")
cities.insert(1, "New York")
cities.insert(2, "New York")
print(cities[0])
print(cities[1])
print(cities[2])
print(cities)

New York
New York
New York
['New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [140]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[2:5]
print(smaller_list_of_cities)

['Chicago', 'Denver', 'Los Angeles']

In [141]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[2:6]
print(smaller_list_of_cities)

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [142]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[1:3]
print(smaller_list_of_cities)

['Baltimore', 'Chicago']

In [143]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[0:4]
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [144]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[:5]
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [146]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks[0] is "email Frank"
tasks[1] is "call Sarah"
tasks[2] is "meet with Zach"
print(tasks)

['email Frank', 'call Sarah', 'meet withZach']

In [148]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks[0] is "email Frank"
tasks[1] is "call Sarah"
tasks[2] is "meet with Zach"
del tasks[0]
print(tasks)

['call Sarah', 'meet withZach']

In [151]:
tasks = ["email Frank", "call Sarah", "meet withZach"]

del tasks[0]
print(tasks)

['call Sarah', 'meet withZach']

In [152]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks[0] is "email Frank"
tasks[1] is "call Sarah"
tasks[2] is "meet with Zach"
tasks.remove("call Sarah")

print(tasks)

['email Frank', 'meet withZach']

In [162]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks[0] is "email Frank"
tasks[1] is "call Sarah"
tasks[2] is "meet with Zach"
latest_task_accomplished = tasks.pop(1)
print(latest_task_accomplished)

call Sarah

NameError: name 'tasks_accomplished' is not defined

In [163]:
states_in_order_of_founding = ("Delaware","Pennsylvania", "New Jersey", "Georgia")
print(states_in_order_of_founding)

('Delaware', 'Pennsylvania', 'New Jersey', 'Georgia')

In [169]:
states_in_order_of_founding = ("Delaware","Pennsylvania", "New Jersey", "Georgia")
print(states_in_order_of_founding)
second_state_founded =states_in_order_of_founding[1]


print("The second state founded was " +
second_state_founded)

('Delaware', 'Pennsylvania', 'New Jersey', 'Georgia')
The second state founded was Pennsylvania

In [172]:
g = raw_input("Enter your name : ")

NameError: name 'raw_input' is not defined

In [173]:
input()

My name is shoaib

'My name is shoaib'

In [174]:
input()

1+2%3//1+4%4+12

'1+2%3//1+4%4+12'

In [175]:
print(1+2%3//1+4%4+12)

15

In [176]:
33=33.0

SyntaxError: can't assign to literal (<ipython-input-176-c301d44fa694>, line 1)

# LOOPS

In [178]:
city_to_check = "Tucson"
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson","Great Falls", "Honolulu"]
if city_to_check == cleanest_cities[0]:
 print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
 print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
 print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
 print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
 print("It's one of the cleanest cities")

It's one of the cleanest cities

In [181]:
for a_clean_city in cleanest_cities:
 if city_to_check == a_clean_city:
  print("It's one of the cleanest cities")

It's one of the cleanest cities

In [192]:
x=10
y=10
z=10
for x in y:
 if x == z:
  print("It's one of the cleanest cities")
  break

TypeError: 'int' object is not iterable

In [198]:
x=str(10)
y=str(10)
z=st(10)
for x in y:
 if x == z:
  print("It's one of the cleanest cities")
  break

NameError: name 'string' is not defined

# For Loops

In [200]:
b=[10,20,30]
total=0
for a in b:
    total=total+a
print(total)

60

In [201]:
total2=0
for a in range(1,10):
    total2+=a
print(total2)

45

In [209]:
total3=0
for i in range(1,8):
    if i%3 ==0:
        total3+=i
print(total3)

9

In [206]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [208]:
total3=0
for i in range(1,100):
    if i%3 ==0:
        total3+=i
print(total3)

1683

In [210]:
y=[1,2,3,4,5]
z=3
for x in y:
    if x==z:
        print("PAkistan is on of the Best")

PAkistan is on of the Best

In [236]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
       full_names.append(a_first_name + " " +a_last_name)
print(full_names)

['BlueRay  Zzz', 'BlueRay  Burp', 'BlueRay  Dogbone', 'BlueRay  Droop', 'Upchuck  Zzz', 'Upchuck  Burp', 'Upchuck  Dogbone', 'Upchuck  Droop', 'Lojack  Zzz', 'Lojack  Burp', 'Lojack  Dogbone', 'Lojack  Droop', 'Gizmo  Zzz', 'Gizmo  Burp', 'Gizmo  Dogbone', 'Gizmo  Droop', 'Do-Rag  Zzz', 'Do-Rag  Burp', 'Do-Rag  Dogbone', 'Do-Rag  Droop']

# TESTING INPUTS FROM USER AND COVERTS INTO STRINGS AND NUMBERS

In [239]:
city_to_check = input("Enter the name of a city: ")
print(f"THE CLEAN CITY ARE :{city_to_check}")

Enter the name of a city: PAKISTAN
THE CLEAN CITY ARE :PAKISTAN

In [240]:
input("Enter the name of a city: ")

Enter the name of a city: PAkISTAN

'PAkISTAN'

In [241]:
monthly_income = input("Enter your monthly income:")

Enter your monthly income:1000

In [243]:
monthly_income = input("Enter your monthly income:")

Enter your monthly income:pakistan

In [244]:
monthly_income = float(input("Enter your monthly income:"))

Enter your monthly income:1000

In [245]:
float(input("Enter your monthly income:"))

Enter your monthly income:10000

10000.0

In [248]:
float(input("Enter your monthly income:"))

Enter your monthly income:1000

1000.0

In [249]:
monthly_income = input("Enter your monthly income:")

Enter your monthly income:1000*12

In [251]:
monthly_income = input("Enter your monthly income:")
monthly_income_as_a_float = float(monthly_income)

Enter your monthly income:1000*12

ValueError: could not convert string to float: '1000*12'

In [252]:
monthly_income = input("Enter your monthly income:")
monthly_income_as_an_integer = int(monthly_income)

Enter your monthly income:1000*12

ValueError: invalid literal for int() with base 10: '1000*12'

# CHNGING CASE

In [256]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()
cleanest_cities = ["cheyenne", "santa fe","tucson", "great falls", "honolulu"]
#******ebook converter DEMO Watermarks*******
for a_clean_city in cleanest_cities:
    
     if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

Enter your city: GREAT FALLS
It's one of the cleanest cities

In [257]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()
print(city_to_check)

Enter your city: PAKISTAN
pakistan

In [259]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.upper()
print(city_to_check)

Enter your city: pakistan
PAKISTAN

In [260]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.title()
print(city_to_check)

Enter your city: pakistan
Pakistan

# DICTONARIES

In [262]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}

In [269]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
address_of_customer = customer_29876["address"]
print(address_of_customer)

4803 Wellesley St.

In [270]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
address_of_customer = customer_29876["lastname"]
print(address_of_customer)

Elliott

In [271]:
rankings = {5: "Finland", 2: "Norway", 3: "Sweden",7: "Iceland"}
second_ranking_country = rankings[2]
print(second_ranking_country)

Norway

In [273]:
things_to_remember = {0: "the lowest number", "adozen": 12, "snake eyes": "a pair of ones", 13: "abaker's dozen"}
thing=things_to_remember["snake eyes"]
print(things)

NameError: name 'things' is not defined

In [274]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
customer_29876["city"] = "Toronto"

In [276]:
address_of_customer = customer_29876["city"]
print(address_of_customer)

Toronto

In [277]:
things_to_remember = {
  0: "the lowest number",
  "a dozen": 12,
  "snake eyes": "a pair of ones",
  13: "a baker's dozen",
 }

In [278]:
things=things_to_remember["snake eyes"]
print(things)

a pair of ones

In [279]:
things=things_to_remember[0]
print(things)

the lowest number

In [280]:
things=things_to_remember["a dozen"]
print(things)

12

In [281]:
things_to_remember[13]="Mohammed Shoaib"

In [284]:
Myname=things_to_remember[13]
print(f"MY NAME IS:{Myname}")

MY NAME IS:Mohammed Shoaib

In [285]:
del things_to_remember[0]

In [286]:
things=things_to_remember[0]
print(things)

KeyError: 0

In [287]:
del customer_29876["address"]

In [290]:
address_of_customer = customer_29876["first name"]
print(address_of_customer)

David

In [293]:
customer_29876["first name"] = "Mohammed Shoaib"

In [294]:
address_of_customer = customer_29876["first name"]
print(address_of_customer)

Mohammed Shoaib

In [297]:
print(customer_29876["first name"])
print(customer_29876["address"])

Mohammed Shoaib

KeyError: 'address'

In [298]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
customer_29876["city"] = "Toronto"

In [299]:
for a_clean_city in cleanest_cities:
 print(a_clean_city)

cheyenne
santa fe
tucson
great falls
honolulu

In [300]:
for each_value in customer_29876.values():
 print(each_value)

David
Elliott
4803 Wellesley St.
Toronto

In [301]:
for each_value in customer_29876:
 print(each_value)

first name
lastname
address
city

In [302]:
for each_value in customer_29876.keys():
 print(each_value)

first name
lastname
address
city

In [305]:
for each_value in customer_29876.keys():
    for each_key in customer_29876.keys():
      print(each_value,each_value)

first name first name
first name first name
first name first name
first name first name
lastname lastname
lastname lastname
lastname lastname
lastname lastname
address address
address address
address address
address address
city city
city city
city city
city city

In [308]:
for each_key, each_value in customer_29876.items():
  print("The customer's " + each_key + " is: " +each_value)

The customer's first name is: David
The customer's lastname is: Elliott
The customer's address is: 4803 Wellesley St.
The customer's city is: Toronto

In [309]:
#customer_ids = [101, 102, 103]
customers = [
 {
 "customer id": 0,
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 {
 "customer id": 1,
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 {
 "customer id": 2,
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 ]

In [311]:
dictionary_to_look_in = customers[0]
customer_address =dictionary_to_look_in["address"]
print(dictionary_to_look_in)

{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}

In [312]:
dictionary_to_look_in = customers[1]
customer_address =dictionary_to_look_in["address"]
print(dictionary_to_look_in)

{'customer id': 1, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}

In [313]:
dictionary_to_look_in = customers[2]
customer_address =dictionary_to_look_in["address"]
print(dictionary_to_look_in)

{'customer id': 2, 'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}

In [314]:
dictionary_to_look_in = customers[0]
#customer_address =dictionary_to_look_in["address"]
print(dictionary_to_look_in)

{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}

In [316]:
dictionary_to_look_in = customers[0]
customer_address =dictionary_to_look_in["address"]
print(dictionary_to_look_in)

{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}

In [318]:
dictionary_to_look_in = customers[0]
customer_address =dictionary_to_look_in["address"]
print(dictionary_to_look_in)

{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}

In [320]:
len(customers)

3

In [324]:
new_customer_id = len(customers)
new_first_name = len(customers)
new_last_name = len(customers)
new_address= len(customers)
new_dictionary = {
"customer id": new_customer_id,
"first name": new_first_name,
"last name": new_last_name,
"address": new_address,
}

In [325]:
customers.append(new_dictionary)

In [326]:
dictionary_to_look_in = customers[new_customer_id]
customer_address =dictionary_to_look_in["address"]
print(dictionary_to_look_in)

{'customer id': 3, 'first name': 3, 'last name': 3, 'address': 3}

# CREATE A DICTONARY THAT CONTAINS LIST

In [327]:
customer_29876 = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
 "discounts": ["standard", "volume", "loyalty"],
}

In [346]:
customer_29876["discounts"]=input("Enter the amount")
if "brother-in-law" in customer_29876["discounts"]:discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:discount_amount = .15
elif "volume" in customer_29876["discounts"]:discount_amount = .10
elif "standard" in customer_29876["discounts"]:discount_amount = .05

Enter the amount1000

# Creating a dictionary that contains a
dictionary

In [356]:
customers = {
  {
   "customer id": 0,
   "first name":"John",
   "last name": "Ogden",
   "address": "301 Arbor Rd.",
  },
  {
   "customer id": 1,
   "first name":"Ann",
   "last name": "Sattermyer",
   "address": "PO Box 1145",
  },
  {
   "customer id": 2,
   "first name":"Jill",
   "last name": "Somers",
   "address": "3 Main St.",
   },
 }

TypeError: unhashable type: 'dict'

In [363]:
customers = {
0: {
  "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
1: {
 
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
2: {
 
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }

In [364]:
customers = {
"johnog": {
  "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
"coder1200": {
 
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
"madmaxine": {
 
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }

# How to get information out of adictionary within another dictionary

In [368]:
customers = {
0: {
  "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
1: {
 
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
2: {
 
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }

print(customers[2])
print(customers[2]["address"])

{'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}
3 Main St.

In [375]:
customers = {
"johnog": {
  "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
"coder1200": {
 
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
"madmaxine": {
 
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }
print(customers["madmaxine"]["first name"])

Jill