# Q:3

In [1]:
_a=1

In [2]:
__a=1

In [3]:
__str__=1

In [4]:
print(_a)

1

In [5]:
print(__a)

1

In [6]:
print(__str__)

1

# Q:6

In [7]:
print(4/(3*(2-1))and 4/3*(2-1))

1.3333333333333333

In [9]:
4/(3*(2-1))

1.3333333333333333

In [10]:
4/3*(2-1)

1.3333333333333333

# Q:7

In [11]:
4+3%5

7

In [12]:
3%5

3

In [13]:
4+3

7

# Q:8

In [14]:
A=16
B=15
A%B//A

0

In [15]:
A%B

1

In [16]:
1//A

0

# Q:9

In [17]:
43.55+2/2

44.55

In [18]:
x=int(43.55+2/2)

In [19]:
print(x)

44

# Q:10

In [20]:
print('{0:.2}'.format(1/3))

0.33

# Q:11

In [21]:
if(9<0) and (0<-9):
    print("hello")
elif(9>0) or False:
    print("good")
else:
    print("bad")

good

In [24]:
if(9<0) and (0<-9):
    print("hello")
elif(9>0) or False:
    print("good")
else:
    print("bad")

good

In [25]:
if(9<0) and (0<-9):
    print("hello")
elif(9>0) or False:
    print("good")
else:
    print("bad")

good

# Q:12

In [26]:
not(10<20) and not(10>30)

False

# Q:13

In [28]:
list1 = list()

In [29]:
list2 = []

In [30]:
list3 = list([1, 2, 3])

# Qno:17

In [36]:
list1.shuffle()

AttributeError: 'list' object has no attribute 'shuffle'

In [33]:
shuffle(list1)

NameError: name 'shuffle' is not defined

In [34]:
random.shuffle(list1)

NameError: name 'random' is not defined

In [35]:
random.shuffleList(list1)

NameError: name 'random' is not defined

In [40]:
random=list[]
random.shuffle(list1)

SyntaxError: invalid syntax (<ipython-input-40-778ba9cff287>, line 1)

# q:18

In [41]:
 list=[4, 2, 2, 4, 5, 2, 1, 0]

In [46]:
print(list1[0])

IndexError: list index out of range

In [43]:
 print(list1[:2])

[]

In [44]:
print(list1[:-2])

[]

# Q:19

In [47]:
 list1=[2, 33, 222, 14, 25]

In [49]:
list1[-1]

25

# QNo:20

In [50]:
 list2=[2, 33, 222, 14, 25]

In [51]:
list2[:-1]

[2, 33, 222, 14]

# q:21

In [52]:
names = ['Amir'
, 'Bear'
, 'Charlton'
, 'Daman']

In [53]:
print(names[-1][-1])

n

# Q:22

# names1 = ['Amir'
, 'Bear'
, 'Charlton'
, 'Daman']
names2 = names1
names3 = names1[:]
print(names2)
names2[0] = 'Alice'
print(names2)
names3[1] = 'Bob'
print(names3)
 
sum = 0
for ls in (names1, names2, names3):
     if ls[0] == 'Alice':
             sum += 1
     if ls[1] == 'Bob':
           sum += 10
print(sum)

# Q:23

In [64]:
 name=[1, 3, 2]

In [65]:
name*2

[1, 3, 2, 1, 3, 2]

# Q:24

In [66]:
list1 = [0.5 * x for x in range(0,4)]

In [67]:
list1

[0.0, 0.5, 1.0, 1.5]

# QNO:25

In [69]:
list1 = [11, 2, 23]
list2 = [11, 2, 2]
list1 < list2

False

# Q:27

In [70]:
names1 = ['Amir'
, 'Bala'
, 'Chales']
if 'amir' in names1:
 print(1)
else:
 print(2)

2

# Q:28

In [71]:
names1 = ['Amir'
, 'Bala'
, 'Charlie']
names2 = [name.lower() for name in names1]
 
print(names2[2][0])

c

In [72]:
print(names2[1][0])

b

In [73]:
print(names2[0][0])

a

# Q:29

In [74]:
numbers = [1, 2, 3, 4] 
numbers.append([5,6,7,8]) 
print(len(numbers))

5

In [76]:
print(numbers[4])

[5, 6, 7, 8]

# Q:31

In [77]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
print(len(list1 + list2))

8

# Q:32

In [78]:
a=[1,2,3]
b=a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
None

# Q:33

In [79]:
a=[14,52,7]
b=a.copy()
b is a

False

# Q:34

a=[13,56,17]
a.append([87])
print(a)
a.extend([45,67])
print(a)

# Q:35

In [89]:
list=[]
a=list((45,)*4)
print((45)*4)
print(a)

TypeError: 'list' object is not callable

# Q36

In [90]:
word1="Apple"
word2="Apple"
list1=[1,2,3]
list2=[1,2,3]
print(word1 is word2)
print(list1 is list2)

True
False

In [92]:
word1="Apple"
word2="Apple"
list1=[1,2,3]
list2=[1,2,3]
print(word1 is word2)
print(list1 is list2)

True
False

# Q37

In [93]:
w="hello"
v=('a'
, 'e'
, 'i'
, 'o'
, 'u')

In [94]:
 [x for w in v if x in v]

[]

In [95]:
 [x for x in w if x in v]

['e', 'o']

# Q38

In [96]:
t=32.00
[round((x-32)*5/9) for x in t]

TypeError: 'float' object is not iterable

# Q39

In [99]:
for i in range(1, 101):
 if int(i*0.5)==i*0.5:
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [100]:
1*0.5

0.5

In [101]:
[i for i in range(1, 101) if int(i*0.5)==(i*0.5)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# q40

In [103]:
list: [1, 2, 4, 8, 16……212]

SyntaxError: invalid character in identifier (<ipython-input-103-2843447e07aa>, line 1)

In [104]:
 [(2**x) for x in range(0, 13)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [105]:
 [(x**2) for x in range(1, 13)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [106]:
 [(2**x) for x in range(1, 13)]

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [107]:
 [(x**2) for x in range(0, 13)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [108]:
[(2**x) for x in range(0, 13)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

# Q41

In [109]:
 [x for x in range(0, 20) if (x%2==0)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Q42

In [110]:
[j for i in range(2,8) for j in range(i*2, 50, i)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 14,
 21,
 28,
 35,
 42,
 49]