# FOR LOOPS

In [4]:
for a in range(10):
    print(a,"Mohammed Shoaib")

0 Mohammed Shoaib
1 Mohammed Shoaib
2 Mohammed Shoaib
3 Mohammed Shoaib
4 Mohammed Shoaib
5 Mohammed Shoaib
6 Mohammed Shoaib
7 Mohammed Shoaib
8 Mohammed Shoaib
9 Mohammed Shoaib

In [6]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [7]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [8]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [9]:
for number in range(1,10,3):
    print(number)

1
4
7

In [11]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [12]:
cities=['karachi','Multan','lahore']

In [14]:
for city in cities:
    print(f"The city under consideration is:{city}")

The city under consideration is:karachi
The city under consideration is:Multan
The city under consideration is:lahore

In [15]:
for num in [11,22,33,44,55,66]:
    print(num)

11
22
33
44
55
66

In [17]:
country="Pakistan","America"
for char in country:
    print(char)

Pakistan
America

# #For loops Break and continue

In [20]:
for number in range(10):
    if number%3==1:
        break
    print(number)

0

In [22]:
for number in range(10):
    if number%3==0:
        break
    print(number)

In [23]:
for number in range(10):
    if number%3!=0:
        break
    print(number)

0

In [24]:
for number in [5,7,11,90]:
    if number%2==0:
        break
    print(number)

5
7
11

In [26]:
for num in range(10):
    if num==7:
        continue
    print(num)

0
1
2
3
4
5
6
8
9

In [27]:
for num in range(10):
    if num==7 or num==4:
        continue
    print(num)

0
1
2
3
5
6
8
9

# Nested For Loop

In [28]:
for a in range(5):
    print("Inner Loops Begins")
    for char in "China":
        print(a, char)

Inner Loops Begins
0 C
0 h
0 i
0 n
0 a
Inner Loops Begins
1 C
1 h
1 i
1 n
1 a
Inner Loops Begins
2 C
2 h
2 i
2 n
2 a
Inner Loops Begins
3 C
3 h
3 i
3 n
3 a
Inner Loops Begins
4 C
4 h
4 i
4 n
4 a

In [32]:
tablenumber=int(input("Enter Table Number"))
for a in range(1,11):
    print(f"{tablenumber} * {a} ={tablenumber*a}")

Enter Table Number5
5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50

In [35]:
tables=int(input("Enter the range of table"))
for a in range(1,10):
    for table in range(1,tables+1):
        print(f"{tables} * {table} ={tables*a}")

Enter the range of table5
5 * 1 =5
5 * 2 =5
5 * 3 =5
5 * 4 =5
5 * 5 =5
5 * 1 =10
5 * 2 =10
5 * 3 =10
5 * 4 =10
5 * 5 =10
5 * 1 =15
5 * 2 =15
5 * 3 =15
5 * 4 =15
5 * 5 =15
5 * 1 =20
5 * 2 =20
5 * 3 =20
5 * 4 =20
5 * 5 =20
5 * 1 =25
5 * 2 =25
5 * 3 =25
5 * 4 =25
5 * 5 =25
5 * 1 =30
5 * 2 =30
5 * 3 =30
5 * 4 =30
5 * 5 =30
5 * 1 =35
5 * 2 =35
5 * 3 =35
5 * 4 =35
5 * 5 =35
5 * 1 =40
5 * 2 =40
5 * 3 =40
5 * 4 =40
5 * 5 =40
5 * 1 =45
5 * 2 =45
5 * 3 =45
5 * 4 =45
5 * 5 =45

In [37]:
tables= int(input("Enter the range of table"))
for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} ={table*num}")

Enter the range of table5
2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20
3 * 1 =3
3 * 2 =6
3 * 3 =9
3 * 4 =12
3 * 5 =15
3 * 6 =18
3 * 7 =21
3 * 8 =24
3 * 9 =27
3 * 10 =30
4 * 1 =4
4 * 2 =8
4 * 3 =12
4 * 4 =16
4 * 5 =20
4 * 6 =24
4 * 7 =28
4 * 8 =32
4 * 9 =36
4 * 10 =40
5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50

# TYPE CASTING

In [40]:
userinput=input("Enter Something")
type(userinput)

Enter Somethinghello

str

In [42]:
userinput=int(input("Enter Something"))
type(userinput)

Enter Something40

int

In [43]:
float(6)

6.0

#  Changing case pf String

In [44]:
name="paskitan"
type(name)

str

In [45]:
name.upper()

'PASKITAN'

In [46]:
name.lower()

'paskitan'

In [47]:
name.title()

'Paskitan'

# DICTIONARY

In [49]:
#mydictonary={key:value,key:value,key:value}
mydic={"Name":"Mohammed Shoaib","age":20,"Gender":"Male"}
len(mydic)

3

# Adding a new key in Existing Dictinary

In [50]:
mydic["email"]="abc@gmail.com"

In [51]:
mydic

{'Name': 'Mohammed Shoaib',
 'age': 20,
 'Gender': 'Male',
 'email': 'abc@gmail.com'}

In [52]:
print(mydic['Name'])

Mohammed Shoaib

In [53]:
 type(mydic)

dict

# ACCESS A KEY VALUE

In [54]:
mydic["age"]

20

In [55]:
mydic["email"]

'abc@gmail.com'

In [56]:
mydic["Name"]

'Mohammed Shoaib'

In [57]:
newdic={1:"Shoaib",2:"Khan"}

In [58]:
newdic[1]

'Shoaib'

# DELETING A KEY

In [59]:
del newdic[1]

In [60]:
newdic

{2: 'Khan'}

# Update a key value

In [61]:
mydic

{'Name': 'Mohammed Shoaib',
 'age': 20,
 'Gender': 'Male',
 'email': 'abc@gmail.com'}

In [62]:
mydic["email"]="shoaibbilal@gmail.com"

In [63]:
mydic

{'Name': 'Mohammed Shoaib',
 'age': 20,
 'Gender': 'Male',
 'email': 'shoaibbilal@gmail.com'}

In [66]:
 adic={1:100,2:200,3:300,1:400,4:400}

In [67]:
adic

{1: 400, 2: 200, 3: 300, 4: 400}

In [68]:
1 in adic

True

In [69]:
"age" in mydic

True

In [73]:

for key in mydic.keys():
    print(key)
for value in mydic.values():
    print(value)

Name
age
Gender
email
Mohammed Shoaib
20
Male
shoaibbilal@gmail.com

In [75]:
for key,value in mydic.items():
    print(key,":",value)

Name : Mohammed Shoaib
age : 20
Gender : Male
email : shoaibbilal@gmail.com

# creting list of dictonaries

In [81]:
mydic=[]
mydic.append{{"Name":"shoaib","Class":"Python",Age:21}}

SyntaxError: invalid syntax (<ipython-input-81-cbd3f8cdbfef>, line 2)

# Creating a dictonary that holds a list

In [83]:
employee={'Name':'Shoaib','childname':['Bilal','Usman']}

In [84]:
print(employee['childname'][0])

Bilal

In [85]:
print(employee['childname'][1])

Usman

In [86]:
details={'Name':'Shoaib','Childname':{'Humairah':{'Age':10,'Class':6},'Abdul Rahman':{'Age':8,'Class':3}}}

In [88]:
print(details['Childname']['Humairah'])

{'Age': 10, 'Class': 6}

In [89]:
print(details['Childname']['Abdul Rahman'])

{'Age': 8, 'Class': 3}